<%- include('/layouts/header.ejs') -%>
<style type="text/css">
  .table-div {
    display: inline-block;
    width: 300px;
    border: 1px #ccc solid;
    margin: 0px 10px 15px 0px;
    vertical-align: top;
    background-color: #f1f1f1;
  }
  .table-div p {
    display: inline-block;
    padding: 10px;
    position: relative;
  }
  .table-div p:first-child {
    width: 260px;
    border-right: 1px #ccc solid;
  }
  .table-div p:last-child a {
    text-decoration: none;
    color: #f11;
  }
</style>
<div id="page-title">Dashboard</div>
<div class="tRight mb5">
  <a href="/tables/add">Add Table</a>
</div>
<div id="tables-list">
  <% for (var i=0; i<tables.length; ++i) { %>
  <div class="table-div">
    <p><a href="/tables/<%= tables[i]['id'] %>/show"><%= tables[i]['name'] %></a></p>
    <p><a href="/tables/<%= tables[i]['id'] %>/delete" class="del-table">X</a></p>
  </div>
  <% } %>
</div>
<div class="pagination-div">
  <p class="mr10"><%- pagination_links %></p>
  <p><%= pagination_text %></p>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    Dashboard.init();
  });
</script>
<%- include('/layouts/footer.ejs') -%>
