<%- include('/layouts/header.ejs') -%>
<table>
  <tr>
    <td>Name: </td>
    <td><%= user.name %></td>
  </tr>
  <tr>
    <td>Username: </td>
    <td><%= user.username %></td>
  </tr>
  <tr>
    <td>Schema: </td>
    <td><%= user.schema_name %></td>
  </tr>
  <tr>
    <td colspan="2">This is the new template</td>
  </tr>
</table>
<%- include('/layouts/footer.ejs'); -%>
